--extra-index-url https://download.pytorch.org/whl/cpu

pip>=24.0
gymnasium>=1.0
stable-baselines3>=2.4
sb3-contrib
torch
onnx
onnxruntime
tensorboard
matplotlib
tqdm
rich
ipywidgets
ipykernel
tabulate
